.contenedorMensaje{
    display: flex;
    flex-direction: column;
}
.botonCrear{
    width:100px;
    height: 60px;
    font-size: 1rem;
    margin: 20px 0 30px 0;
}
.aparte{
    font-style: italic;
}
label{
    margin: 10px 0;
}
.botonEditar{
    width:70px;
    height: 40px;
    font-size: 1rem;
    background-color: #b1ccf5;
    margin: 5px 0 10px 0;
}
.margenDerecha{
    margin-right: 10px;
}
.separacion{
    margin-top: 20px;
}
.areaClientes{
    margin: 30px 0;
}
.separacionCartas{
    margin-bottom: 20px;
}